<form action="/user/profile" method="post">
    Your current username <input type="text" name="currentUsername" id="currentUsername" value="{{ username }}">
    Enter new username <input type="text" name="newUsername" id="newUsername">
    <input type="submit">
</form>