<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            <img src="https://academy.oracle.com/en/oa-assets/i/c82/c82-java-prog-logo.jpg"
                 alt="..." class="image-responsive">
            <div class="caption">
                <h3>Java programavimo kursai</h3>
                <div class="clearfix">
                    <div class="pull-left">
                        <p class="description">Java kurso aprašymas</p>
                    </div>
                    <a href="#" class="btn btn-success pull-right col-sm-6 col-md-4" role="button">Pradėti</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            <img src="https://academy.oracle.com/en/oa-assets/i/c82/c82-java-prog-logo.jpg"
                 alt="..." class="image-responsive">
            <div class="caption">
                <h3>Java programavimo kursai</h3>
                <div class="clearfix">
                    <div class="pull-left">
                        <p class="description">Java kurso aprašymas</p>
                    </div>
                    <a href="#" class="btn btn-success pull-right col-sm-6 col-md-4" role="button">Pradėti</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="thumbnail">
            <img src="https://academy.oracle.com/en/oa-assets/i/c82/c82-java-prog-logo.jpg"
                 alt="..." class="image-responsive">
            <div class="caption">
                <h3>Java programavimo kursai</h3>
                <div class="clearfix">
                    <div class="pull-left">
                        <p class="description">Java kurso aprašymas</p>
                    </div>
                    <a href="#" class="btn btn-success pull-right col-sm-6 col-md-4" role="button">Pradėti</a>
                </div>
            </div>
        </div>
    </div>
</div>
